
name: Publish API Docs on GitHub Pages

on:
  release:
    types: [published]
    branches:
      - master


jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Build
        uses: mattnotmitt/doxygen-action@v1.9.5
        with:
          working-directory: 'illumio_pylo/'
          doxyfile-path: 'docs/Doxygen'

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./illumio_pylo/html

