name: Package exe with PyInstaller - Windows

on:
  push:
    branches: [ master, mt4l ]
    tags:
      - 'v*.*.*'
  pull_request:
    branches: [ master ]


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Make executables
        uses: cpainchaud/pyinstaller-action-windows@main
        with:
          path: ./
          spec: illumio_pylo/utilities/
          extra_python_paths: Z:\\github\\workspace\\;Z:\\github\\workspace\\pylo;C:\\Windows\\System32\\downlevel

      - name: rename executables
        run: |
          mv dist/windows/cli.exe dist/windows/pylo-cli.exe

      - name: Publish executables for Master branch with 'latest' tag
        # only if this is a TAG type
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'

        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Latest Binaries"
          files: |
            dist/windows/*

      - name: Publish executables along with the tag
        # only if this is a TAG type
        if: startsWith(github.ref, 'refs/tags/') && github.event_name == 'push'
        uses: softprops/action-gh-release@975c1b265e11dd76618af1c374e7981f9a6ff44a  # v0.1.16
        with:
          files: dist/windows/*
          token: ${{ secrets.GITHUB_TOKEN }}
          release_name: "latest"
          release_body: "Latest Binaries"
          draft: false
          prerelease: false

